* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
  
html, body {
  background-color: gray;
}  

header {
  background-color: dimgray;
  padding-top: 10px;
}

header > h1 {
  text-align: center;
  margin-bottom: 10px;
  color: white ;
}

span#hamburguer {
  display: block;
  background-color: black;
  color:white;
  text-align: center;
}

span#hamburguer:active {
  background-color: white;
  color:black;
  
}

header > menu {
  background-color: darkgray;
  display: block;
  
}

header > menu > ul {
 list-style-type: none;
}

header > menu > ul > li {
  padding: 8px;
  border-top: 1px solid black;
  text-align: center;
}

header > menu > ul > li > a {
  text-decoration: none;
  color: white;
}

header > menu > ul > li:active {
  background-color: gray;
}

main {
  display:block;
  background: white;
  width: 90vw;
  padding: 10px;
  margin:auto;
  margin-top:20px;
  border-radius: 10px;
}

article > h2 {
  text-align: center;
  margin-bottom: 10px;
}

article > p {
  text-align: justify;
  text-indent: 15px;
  margin-bottom: 15px;
}